	<form action="/register" method="POST">
		<label for="login">Email</label>
		<input type="text" id="login" name="login">
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
		<button type="submit" id='submit'>Register</button>
	</form>
	<script src='js/register_submit.js'></script>